<!DOCTYPE html>
<!--START POPUP RESET-->
<div ng-controller="ResetTemplateController as reset" class="popup-content-block">
  <div class="popup-form">
    <div class="popup-main without-footer">
      <form ng-submit="reset.resetPassword()" class="registration-form">
        <div class="form-input-holder">
          <input type="password" name="password" placeholder="Введите новый пароль" ng-model="reset.formData.password" class="popup-input">
          <div ng-if="reset.formErrors.password" class="form-input-error-holder"><span class="form-input-error">{{reset.formErrors.password}}</span></div>
        </div>
        <div class="form-input-holder">
          <input type="password" name="passwordRepeat" placeholder="Повторите новый пароль" ng-model="reset.formData.passwordRepeat" class="popup-input">
          <div ng-if="reset.formErrors.passwordRepeat" class="form-input-error-holder"><span class="form-input-error">{{reset.formErrors.passwordRepeat}}</span></div>
        </div><span ng-if="reset.formErrors.form" class="form-error">{{reset.formErrors.form}}</span>
        <button class="btn mod-popup">СОХРАНИТЬ</button>
      </form>
    </div>
  </div>
</div>
<!--END POPUP RESET-->